<div class="user-table">
    <div layout="row">
        <button mat-raised-button color="primary" [routerLink]="['/add-user']">Create User</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z10">

        <!-- Position Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="birthDate">
            <th mat-header-cell *matHeaderCellDef> Birth Date </th>
            <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Gender </th>
            <td mat-cell *matCellDef="let element"> {{gender[element.gender]}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element"> <a mat-button [routerLink]="['/edit-user', element.id]"><mat-icon aria-hidden="false" aria-label="Delete icon">create</mat-icon></a> </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element"> <button mat-button (click)="deleteUser(element.id)"><mat-icon aria-hidden="false" aria-label="Delete icon">delete</mat-icon></button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div>
        <mat-paginator [length]="total" [pageSize]="size" [pageSizeOptions]="pageSizeOptions"
            (page)="pageEvent = fetchData($event)">
        </mat-paginator>
        <div *ngIf="pageEvent">
            <h5>Page Change Event Properties</h5>
            <div>List length: {{size}}</div>
            <div>Page size: {{total}}</div>
        </div>
    </div>
</div>