<section class="userapp">
  <header class="header">
    <h1>Users</h1>
    <input class="new-user" placeholder="first name" autofocus="" [(ngModel)]="newUser.firstName">
    <input class="new-user" placeholder="last name" autofocus="" [(ngModel)]="newUser.lastName">
    <input class="new-user" placeholder="gender" autofocus="" [(ngModel)]="newUser.gender">
    <input class="new-user" placeholder="dob" type="date" [(ngModel)]="newUser.birthDate">
    
    <button (click)="onAddUser()">Add new user</button>
  </header>
  <app-users
    [users]="users"
    (remove)="onRemoveUser($event)"
  ></app-users>
</section>